.navbar-custom {
    background-color: #6f42c1;
}

.navbar-custom .navbar-nav .nav-link {
    color: rgba(255,255,255,.85);
}

.navbar-custom .nav-item.active .nav-link,
.navbar-custom .nav-item:hover .nav-link,
.navbar-brand {
    color: #ffffff;
}


.nav-padd{
    padding: 0px 0px 0px 90px;
}

.followup-icon{
border-radius: 12px;

  
  
}

.padd{
    padding:0px 0px 0px 500px;
    
}

.c{
    height:auto;
}
.language-sh::before {
    color: #009;
    content: "$ ";
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

.na{
    color:blue;
}

.s{
    color:red;
}

.bd-footer{
    background-color: gray;
}
